.container {
    padding: 1.5rem;
    max-width: 1400px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 2rem;
    h2 {
        margin: 0;
        font-size: 1.5rem;
    }
}

.customHorizontalRule {
    border: none;
    border-top: 1px solid #eee;
    margin: 1.5rem 0;
}

.actions {
    display: flex;
    gap: 0.75rem;

    button {
        padding: 0.5rem 1rem;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
        border: none;
    }
}

.formRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.formGroup {
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.updateCancelBtn {
    background-color: #ffd67e;
    color: #fff;

    &:hover {
        background-color: #ffd06b;
    }
}

.updateBtn {
    background-color: #007bff;
    color: #fff;

    &:hover {
        background-color: #0062cc;
    }
}

.deleteBtn {
    background-color: #dc3545;
    color: #fff;

    &:hover {
        background-color: #c82333;
    }
}

.topSection {
    gap: 2rem;
    padding: 1.2rem 2.2rem;
    align-items: start;
    margin-bottom: 2rem;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 6px;
}

.imageNameWrapper {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
}

.primaryDetails {
    flex: 1;

    h3 {
        margin-top: 0;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    p {
        margin: 0.5rem 0;
    }
}

.additionalDetails {
    border-top: 1px solid #eee;
    padding-top: 1.5rem;

    h3 {
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }
}

.section {
    margin-bottom: 1.25rem;

    h4 {
        margin-bottom: 0.5rem;
        color: #444;
    }

    p {
        margin: 0;
        color: #666;
    }
}

.error {
    text-align: center;
    padding: 2rem;
    color: #dc3545;
    font-weight: bold;
}
